.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    background-color: darksalmon;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover {
    background-color: #f13a7a;
}

.operador {
    background-color: lightgreen;
}

.operador:hover {
    background-color: hotpink;
}
